// grey:
$back-color: #FFF; 
$back-light-color:  #EEE;
$back-middle-color: #CCC;;
$front-color: #333333;
$middle-color: #AAA;

$accent-color: green;
$link-color: rgb(56, 83, 207);

// lila:
// $back-color: rgb(189, 196, 226); 
// $back-light-color:  rgb(173, 189, 233);
// $back-middle-color: rgb(78, 107, 238);;
// $front-color: #203180;
// $middle-color: rgb(75, 125, 218);
// $link-color: rgb(78, 107, 238);;
// $accent-color: green;



// //green:
// $back-color: rgb(247, 255, 243); 
// $back-light-color:  rgb(137, 197, 119);
// $back-middle-color: rgb(23, 128, 19);
// $front-color: #000000;
// $middle-color: rgb(14, 136, 14);
// $link-color: rgb(25, 61, 179);
// $accent-color: green;